<p id="notice"><%= notice %></p>

<h1>Dashboard Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Salary</th>
      <th>Experience</th>
      <th>Job location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_jobs.each do |dashboard_job| %>
      <tr>
        <td><%= dashboard_job.title %></td>
        <td><%= dashboard_job.description %></td>
        <td><%= dashboard_job.salary %></td>
        <td><%= dashboard_job.experience %></td>
        <td><%= dashboard_job.job_location %></td>
        <td><%= link_to 'Show', dashboard_job %></td>
        <td><%= link_to 'Edit', edit_dashboard_job_path(dashboard_job) %></td>
        <td><%= link_to 'Destroy', dashboard_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Job', new_dashboard_job_path %>
