<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dashboard_job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dashboard_job.description %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @dashboard_job.salary %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @dashboard_job.experience %>
</p>

<p>
  <strong>Job location:</strong>
  <%= @dashboard_job.job_location %>
</p>

<p>
    <strong>Company name:</strong>
    <%= a_job.recruiter.cname %>
  </p>

  <p>
    <strong>description:</strong>
    <%= a_job.recruiter.description %>
  </p>

  <p>
    <strong>Company location:</strong>
    <%= a_job.recruiter.clocation %>
  </p>

  <p>
    <strong>Company size:</strong>
    <%= @a_job.recruiter.csize %>
  </p>





<%= link_to 'Edit', edit_dashboard_job_path(@dashboard_job) %> |
<%= link_to 'Back', dashboard_jobs_path %>
