<form class="search-form margin5" action="/dashboard" >
	<input type="text" class="form-control" name="search" placeholder="Search" required>
	<button type="submit" style="margin-top: -12px;"><i class="fa fa-search searchIcon"></i></button>
</form>

<div class="inline">
	<div class="font-weight-bold text-capitalize mb-3 mt-3" style="font-size: 20px;">Jobs Posted</div>
	<button type="button" class="btn btn-primary" style="height: 40px; margin-top: 10px;" data-toggle="modal" data-target="#newSite">New Job</button>
	<div class="modal fade" id="newSite" role="dialog" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">Add New Job</h1>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body pr-33">
					<%= render 'form_job', job: @job %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% @recruiter_jobs.each do |job| %>
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-10 mb-3 ">
			<div class="card shadow p-3 mb-5 bg-white rounded">
				<div class="card-body">
					<h4 class="card-title"><%= job.title%></h4>
					<p class="card-text"><%= job.description %></p>
					<button onclick="toggle()" class="btn btn-primary" type="button" id="<%= job.id %>" data-toggle="collapse" data-target="#dots">Show more</button>
					<div id="dots"></div>
					<div id="more">
						<p>
							<strong>Salary:</strong>
							<%= job.salary %>
						</p>

						<p>
							<strong>Experience:</strong>
							<%= job.experience %>
						</p>

						<p>
							<strong>Job location:</strong>
							<%= job.job_location %>
						</p>

						<p>
							<div class="font-weight-bold text-capitalize mb-3 mt-3" style="font-size: 20px;">Developer Name:</div>
							<% job.job_seekers.each do |jobseeker|%>
								<div class="inline">
									<a data-toggle="modal" data-target="#developer" href="#"><%= jobseeker.name%></a>
									<div class="modal fade" id="developer" role="dialog" >
										<div class="modal-dialog modal-lg">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title"><%= jobseeker.name%></h1>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body pr-33">
													<div class="form-group">
														<%=  :Email%>
														<%= jobseeker.email %>
													</div>
													<div class="form-group">
														<%=  :Qualification %>
														<%= jobseeker.qualification %>
													</div>
													<div class="form-group">
														<%=  :Skills %>
														<%= jobseeker.skills %>
													</div>
													<div class="form-group">
														<%=  :Experience %>
														<%= jobseeker.experience %>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</p>
						<%= link_to "Edit", edit_job_path(job), :type => "button", :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#jobEdit#{job.id}" %>
						<%= link_to 'Delete', job, method: :delete, :type => "button", :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>
						<div class="modal fade" id="jobEdit<%= job.id %>" role="dialog" >
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title">Add New Job</h1>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<div class="modal-body pr-33">
										<%= render 'form_job', job: job %>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					<script>
					  const toggle = () => {
					    var dots = document.getElementById("dots");
					    var moreText = document.getElementById("more");
					    var btnText = document.getElementById('<%= job.id %>');

					    if (dots.style.display === "none") {
					      dots.style.display = "inline";
					      btnText.innerHTML = "Show more";
					      moreText.style.display = "none";
					    } else {
					      dots.style.display = "none";
					      btnText.innerHTML = "Show less";
					      moreText.style.display = "inline";
					    }
					  }
					</script>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<style>
	#more {
		display: none;
	}
</style>
