<% if current_user.instance_of?JobSeeker %>

	<div class="simple" >
		<div class="container-fluid" style="padding:20px;">
			<div class="d-flex flex-column justify-content-center align-items-left flex-1" >
			
				<form class="form-background">
					<div class="row mt-1">
					<input type="text" class="form-control form-search col-md-4 mr-1 ml-4" placeholder="Search"  name= "search" >


					<div class="btn-group col-md-2 mr-1 " >
						<select class="btn button-custom btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="salary">
							<div class="dropdown-menu">
								<option value="none" selected disabled hidden class="dropdown-item"> 
								Salary</option>              	
								<option value="200000" class="dropdown-item"> 2 Lakhs </option>
								<option value="400000" class="dropdown-item"> 4 Lakhs </option>
								<option value="600000" class="dropdown-item"> 6 Lakhs </option>
								<option value="800000" class="dropdown-item"> 8 Lakhs </option>
								<option value="1000000" class="dropdown-item"> 10 Lakhs </option>
								<option value="1200000" class="dropdown-item"> 12 Lakhs </option>
								<option value="1400000" class="dropdown-item"> 14 Lakhs </option>
								<option value="1600000" class="dropdown-item"> 16 Lakhs </option>
								<option value="1800000" class="dropdown-item"> 18 Lakhs </option>
								<option value="2000000" class="dropdown-item"> 20 Lakhs </option>	
							</div>
						</select>
					</div>

					<div class="btn-group col-md-2 mr-1" >
						<select class="btn button-custom btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="experience">
							<div class="dropdown-menu" >
								<option value="none" selected disabled hidden class="dropdown-item"> 
								Experience </option>              	
								<option value="2" class="dropdown-item"> 2 Years </option>
								<option value="4" class="dropdown-item"> 4 Years </option>
								<option value="6" class="dropdown-item"> 6 Years </option>
								<option value="8" class="dropdown-item"> 8 Years </option>	
								<option value="10" class="dropdown-item"> 10 Years </option>
							</div>
						</select>
					</div> 

					<div class="btn-group col-md-2 mr-2" >
						<select class="btn button-custom btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="location"> 
							<div class="dropdown-menu" >
								<option value="none" selected disabled hidden class="dropdown-item"> 
								Location </option>     
								<%= options_for_select(Job.pluck(:job_location).uniq) %>         	
							</div>
						</select>
					</div> 
						<button type="submit" class="btn btn-primary col-md-1"> Search </button>
					</div>
				</form>

				<% if params[:search] %>
					<div class="row">
						<% @jobs.each do |job| %>
						<div class="col-sm-7 mb-3 ">
							<div class="card shadow p-3 mb-5 bg-white rounded">
								<div class="card-body">
									<h4 class="card-title"><%= job.title %></h4>
									<p class="card-text"><%= job.description %></p>
									<button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample<%= job.id %>" aria-expanded="false" aria-controls="collapseExample<%= job.id %>">Show more</button>
									<br/>
									<div class="collapse" id="collapseExample<%= job.id %>">
										<br/>
										<p>
											<strong>Salary:</strong>
											<%= job.salary %>
										</p>

										<p>
											<strong>Experience:</strong>
											<%= job.experience %>
										</p>

										<p>
											<strong>Job location:</strong>
											<%= job.job_location %>
										</p>

										<p>
											<strong>Company name:</strong>
											<%= job.recruiter.cname %>
										</p>

										<p>
											<strong>Description:</strong>
											<%= job.recruiter.description %>
										</p>

										<p>
											<strong>Company location:</strong>
											<%= job.recruiter.clocation %>
										</p>

										<p>
											<strong>Company size:</strong>
											<%= job.recruiter.csize %>
										</p>
										<% if JobApplication.where(job_seeker_id: current_user.id, job_id: job.id).present? %>
										<strong> Already Applied</strong>
										<% else %>
										<%= link_to "Apply", apply_job_path(job), method: :patch, class: "btn btn-primary float-right" %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<% end %>
					</div>
	    	<% else %>
					<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">All Jobs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Applied Jobs</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tabss">
							<div class="row">
								<% @all_jobs.each do |job| %>
								<div class="col-sm-7 mb-3 ">
									<div class="card shadow p-3 mb-5 bg-white rounded">
										<div class="card-body">
											<h4 class="card-title"><%= Job.find(job).title %></h4>
											<p class="card-text"><%= Job.find(job).description %></p>
											<button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample<%= job %>" aria-expanded="false" aria-controls="collapseExample<%= job %>">Show more</button>
											<br/>
											<div class="collapse" id="collapseExample<%= job %>">
												<br/>
												<p>
													<strong>Salary:</strong>
													<%= Job.find(job).salary %>
												</p>

												<p>
													<strong>Experience:</strong>
													<%= Job.find(job).experience %>
												</p>

												<p>
													<strong>Job location:</strong>
													<%= Job.find(job).job_location %>
												</p>

												<p>
													<strong>Company name:</strong>
													<%= Job.find(job).recruiter.cname %>
												</p>

												<p>
													<strong>Description:</strong>
													<%= Job.find(job).recruiter.description %>
												</p>

												<p>
													<strong>Company location:</strong>
													<%= Job.find(job).recruiter.clocation %>
												</p>

												<p>
													<strong>Company size:</strong>
													<%= Job.find(job).recruiter.csize %>
												</p>
												<%= link_to "Apply", apply_job_path(job), method: :patch, class: "btn btn-primary float-right" %>
											</div>
										</div>
									</div>
								</div>
								<% end %>
							</div>
						</div>

						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<% @applied_job.each do |applied_job| %>
								<% job = Job.find(applied_job) %>
								<div class="col-sm-7 mb-3 ">
									<div class="card shadow p-3 mb-5 bg-white rounded">
										<div class="card-body">
											<h4 class="card-title"><%= job.title %></h4>
											<p class="card-text"><%= job.description %></p>
											<button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#collapseExample<%= job.id %>" aria-expanded="false" aria-controls="collapseExample<%= job.id %>">Show more</button>
											<br/>
											<div class="collapse" id="collapseExample<%= job.id %>">
												<br/>
												<p>
													<strong>Salary:</strong>
													<%= job.salary %>
												</p>
												<p>
													<strong>Experience:</strong>
													<%= job.experience %>
												</p>

												<p>
													<strong>Job location:</strong>
													<%= job.job_location %>
												</p>

												<p>
													<strong>Company name:</strong>
													<%= job.recruiter.cname %>
												</p>

												<p>
													<strong>Description:</strong>
													<%= job.recruiter.description %>
												</p>

												<p>
													<strong>Company location:</strong>
													<%= job.recruiter.clocation %>
												</p>

												<p>
													<strong>Company size:</strong>
													<%= job.recruiter.csize %>
												</p>
											</div>
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

<% else %>

	<div class="simple" >
		<div class="container-fluid" style="padding:20px;">
			<div class="d-flex flex-column justify-content-center align-items-left flex-1" >
				<form class="search-form margin5" action="/dashboard" >
					<input type="text" class="form-control" name="search" placeholder="Search" required>
					<button type="submit"><i class="fa fa-search searchIcon"></i></button>
				</form>
		
				<div class="inline">
					<div class="font-weight-bold text-capitalize mb-3 mt-3" style="font-size: 20px;">Jobs Posted</div>
					<button type="button" class="btn btn-primary" style="height: 40px; margin-top: 10px;" data-toggle="modal" data-target="#newSite">New Job</button>
					<div class="modal fade" id="newSite" role="dialog" >
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title">Add New Job</h1>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
								<div class="modal-body pr-33">
									<%= render 'form_job', job: @job %>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% @jobs.each do |job| %>
					<div class="row justify-content-center align-items-center">
						<div class="col-sm-10 mb-3 ">
							<div class="card shadow p-3 mb-5 bg-white rounded">
								<div class="card-body">
									<h4 class="card-title"><%= job.title%></h4>
									<p class="card-text"><%= job.description %></p>
									<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%= job.id %>" aria-expanded="false" aria-controls="collapseExample<%= job.id %>">Show more</button>
									<div class="collapse" id="collapseExample<%= job.id %>">
										<p>
											<strong>Salary:</strong>
											<%= job.salary %>
										</p>

										<p>
											<strong>Experience:</strong>
											<%= job.experience %>
										</p>

										<p>
											<strong>Job location:</strong>
											<%= job.job_location %>
										</p>

										<p>
											<strong>Developer name:</strong>
											<% job.job_seekers.each do |jobseeker|%>
											<%= jobseeker.name%>
											<% end %>
										</p>
										<%= link_to "Edit", edit_job_path(job), :type => "button", :class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#jobEdit#{job.id}" %>
										<%= link_to 'Delete', job, method: :delete, :type => "button", :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>
										<div class="modal fade" id="jobEdit<%= job.id %>" role="dialog" >
											<div class="modal-dialog modal-lg">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title">Add New Job</h1>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body pr-33">
														<%= render 'form_job', job: job %>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

<% end %>
