<!DOCTYPE html>
<html>
  <head>
    <title>TheRubyRails</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/assets/favicon.png" rel="icon">
    <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Main Stylesheet File -->
    <link href="/assets/style.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--==========================
  Header
  ============================-->
    <header id="header" class="fixed-top">
      <div class="container-fluid">

        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
          <a href="/" class="scrollto"><img src="/assets/logo.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="main-nav float-right">
          <ul>
            <% if recruiter_signed_in? %>
              <%= link_to 'Log out', destroy_recruiter_session_path, method: :delete %>
            <% elsif job_seeker_signed_in? %>
              <%= link_to 'Log out', destroy_job_seeker_session_path, method: :delete %>
            <% else %>
              <li><%= link_to "Join", welcomes_register_path %></li>
              <li><%= link_to "Recruiter Login", new_recruiter_session_path%></li>
              <li><%= link_to "Job Seeker Login", new_job_seeker_session_path%></li>
            <% end %>
          </ul>
        </nav><!-- .main-nav -->
        
      </div>
    </header><!-- #header -->

    <div class="container-fluid d-flex flex-row p-0">
        <div class="container-fluid max-height no-overflow">
          <div class ="row max-height">
            <!--SIDEBAR-->
            <% if user_signed_in? %>
              <div class="sidenav" >
              <div class='sidenav-wrapper'> <%= link_to "My profile", dashboard_profiles_show_path %></div>
              </div>   
            <% end %> 
            <!--MAIN CONTENT-->          
            <%= yield %>
          </div>
        </div>
    </div>


    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Progton Technologies</strong>. All Rights Reserved
        </div>
        <div class="credits">
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  </body>

</html>