<!DOCTYPE html>
<html>
  <head>
    <title>TheRubyRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      Navigation
      <% if recruiter_signed_in? %>
          <%= link_to 'Log out', destroy_recruiter_session_path, method: :delete %>
      <% end %>
      <% if job_seeker_signed_in? %>
          <%= link_to 'Log out', destroy_job_seeker_session_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
